<!DOCTYPE<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Lista de Vuelos</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .vuelo {
            background-color: #007bff;
            color: #fff;
        }

        .vuelo:nth-child(2n) {
            background-color: #fff;
            color: #495057;
        }

        .vuelo:nth-child(2n-1) {
            background-color: #ced4da;
            color: #495057;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center">Lista de Vuelos</h2>

    <!-- Formulario de filtro por fecha -->
    <form th:action="@{/flights/all}" method="get">
        <div class="form-group text-center">
            <label for="fecha">Filtrar por fecha:</label>
            <input type="date" id="fecha" name="fecha" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Filtrar</button>
        <a href="http://localhost:8080/" class="btn btn-secondary ml-2">Volver al Índice</a>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th class="text-center">Fecha y Hora</th>
            <th class="text-center">Número de Vuelo</th>
            <th class="text-center">Tipo de Vuelo</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Cantidad de Asientos Libres</th>
            <!-- Agrega más columnas según tus necesidades -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="vuelo : ${vuelos}" class="vuelo">
            <td class="text-center" th:text="${#dates.format(vuelo.departureDateTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td class="text-center" th:text="${vuelo.flightNumber}"></td>
            <td class="text-center" th:text="${vuelo.flightType}"></td>
            <td class="text-center" th:text="${vuelo.flightStatus}"></td>
            <td class="text-center" th:text="${vuelo.getAvailableSeats()}"></td>
            <!-- Agrega más celdas según las columnas que hayas añadido -->
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>