<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Lista de Vuelos</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .vuelo {
            background-color: #007bff;
            color: #fff;
        }

        .vuelo:nth-child(2n) {
            background-color: #fff;
            color: #495057;
        }

        .vuelo:nth-child(2n-1) {
            background-color: #ced4da;
            color: #495057;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2>Lista de Vuelos</h2>

    <!-- Formulario de filtro por fecha y origen -->
    <form th:action="@{/vuelos}" method="get">
        <div class="form-group">
            <label for="fecha">Filtrar por fecha:</label>
            <input type="date" id="fecha" name="fecha" class="form-control" />
        </div>
        <div class="form-group">
            <label for="origen">Filtrar por origen:</label>
            <select id="origen" name="origen" class="form-control">
                <!-- Itera sobre la lista de ciudades para construir las opciones -->
                <option th:each="ciudad : ${ciudades}" th:value="${ciudad.id}" th:text="${ciudad.cityName}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Fecha y Hora</th>
            <th>Número de Vuelo</th>
            <th>Tipo de Vuelo</th>
            <th>Estado</th>
            <th>Cantidad de Asientos Libres</th>
            <!-- Agrega más columnas según tus necesidades -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="vuelo : ${vuelos}" class="vuelo">
            <td th:text="${#dates.format(vuelo.departureDateTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${vuelo.flightNumber}"></td>
            <td th:text="${vuelo.flightType}"></td>
            <td th:text="${vuelo.flightStatus}"></td>
            <td th:text="${vuelo.originCity.cityName}"></td>
            <!-- Agrega más celdas según las columnas que hayas añadido -->
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>